[project]
name = "1-app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "httpx>=0.28.1",
    "openai>=2.9.0",
    "requests>=2.32.5",
    "rich>=14.2.0",
    "typer>=0.20.0",
]
